body{
    background: -webkit-linear-gradient(left, #00000023, #00000013);
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}


.row-background{
    background-color: #0070b8;
    height: 100px;
    width: 100%;

}

.col-text{
    margin-left: 150px;
    font-size: 23px;
    color: white;
    margin-top: 30px;
    font-weight: 700;
}


.quick-links{
    margin-top: 0px;
    background-color: #77777766;
    padding: 20px

}

.quick-links h6{
    font-weight: 700;
    font-size: 24px;
    padding-left: 200px;

}

.quick-links a{
    font-weight: 400;
    font-size: 16px;
    display: grid;
    text-decoration: none;
    color: black;
    width: 300px;
    padding: 10px;
    padding-left: 200px; 
}

.quick-links iframe{
    margin-left: 500px;
}
.footer p{
    font-weight: 700;
    font-size: 24px;
    background-color: #77777766;
    margin-bottom: 1px;
    padding-left: 500px;
}

@media only screen and (max-width: 480px) {

    .row-background{
        height: 80px;
        background-color: #0070b8;
        width: 100%;
    
    }

    .quick-links{
        margin-top: 0px;
        background-color: #77777766;
        padding: 20px
    
    }
    
    .quick-links h6{
        font-weight: 700;
        font-size: 16px;
    }
    
    .quick-links a{
        display: grid;
        text-decoration: none;
        color: black;
        
    }
    .quick-links iframe{
        margin-left: 0px;
        height: 150px;
        width: 150px;
    }
    .quick-links{
        margin-top: 0px;
        background-color: #77777766;
        padding: 20px
    
    }
    
    .quick-links h6{
        font-weight: 700;
        font-size: 24px;
        padding-left: 0px;
    
    }
    
    .quick-links a{
        font-weight: 400;
        font-size: 16px;
        display: grid;
        text-decoration: none;
        color: black;
        width: 80px;
        padding: 10px;
        padding-left: 0px; 
    }

    .footer p{
        font-weight: 500;
        font-size: 13px;
        background-color: #77777766;
        margin-bottom: 1px;
        padding-left: 0px;;
    }
}