*{
    font-family: 'merriweather', serif;
}

.carousel-polygon{
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    background-image: linear-gradient(to bottom, #030303b4 0%, #0505059f 100%);


}

.faq-background{
    clip-path: polygon(0 0, 50% 25%, 100% 0, 100% 100%, 0 100%);
    background-image: linear-gradient(to bottom, #0070b8 0%, #0070b8 100%);
    height: 250px;
    margin: 0;
    position: relative;
    top: -50px;
}

.h1-heading h1{
    font-size: 42px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    padding-top: 8%;
    margin-left: 30%;
}

.Q-A-background{
    height: 90px;
    background-color: #C0C0C0;
}
.Q-A-background h2{
    padding-top: 25px;
}
.Q-part-1 h2{
    font-size: 42px;
    padding-left: 50%;
    color: #0070b8;
}

.row-background-2{
    height: 150px;
    background-color: #F8F8F8;
}

.A-part-1 h2{
    font-size: 42px;
    padding-left: 50%;
    color: #0070b8;
}
.row-background-2 h2{
    padding-top: 25px;
}

.question-2{
    margin-top: 100px;
}
.row-background{
    background-color: #0070b8;
    height: 100px;
    width: 100%;

}

.col-text{
    margin-left: 150px;
    font-size: 23px;
    color: white;
    margin-top: 30px;
    font-weight: 700;
}


.quick-links{
    margin-top: 0px;
    background-color: #77777766;
    padding: 20px

}

.quick-links h6{
    font-weight: 700;
    font-size: 24px;
    padding-left: 200px;

}

.quick-links a{
    font-weight: 400;
    font-size: 16px;
    display: grid;
    text-decoration: none;
    color: black;
    width: 300px;
    padding: 10px;
    padding-left: 200px; 
}

.quick-links iframe{
    margin-left: 500px;
}
.footer p{
    font-weight: 700;
    font-size: 24px;
    background-color: #77777766;
    margin-bottom: 1px;
    padding-left: 500px;
}

@media only screen and (max-width: 480px) {

    .faq-background{
        clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 100%, 0 100%);
        background-image: linear-gradient(to bottom, #0070b8 0%, #0070b8 100%);
        height: 100px;
        margin: 0;
        position: relative;
        top: -10px;
    }
    .h1-heading h1{
        font-size: 20px;
        font-weight: 800;
        color: rgb(255, 255, 255);
        padding-top: 10%;
        margin-left: 0%;
        
    }
    .Q-part-1 h2{
        font-size: 32px;
        padding-left: 50%;
    }

    .Q-part-2 h2{
        font-size: 18px;
    }

    .A-part-1 h2{
        font-size: 32px;
        padding-left: 50%;
    }

    .A-part-2 h2{
        font-size: 16px;
    }

    .question-2{
        margin-top: 50px;
    }

    .col-text{
        margin-left: 20px;
        font-size: 10px;
        color: white;
        margin-top: 20px;
        font-weight: 400;
    }

    .row-background{
        height: 80px;
        background-color: #0070b8;
        width: 100%;
    }

    .quick-links{
        margin-top: 0px;
        background-color: #77777766;
        padding: 20px
    
    }
    
    .quick-links h6{
        font-weight: 700;
        font-size: 16px;
    }
    
    .quick-links a{
        display: grid;
        text-decoration: none;
        color: black;
        
    }
    .quick-links iframe{
        margin-left: 0px;
        height: 150px;
        width: 150px;
    }
    .quick-links{
        margin-top: 0px;
        background-color: #77777766;
        padding: 20px
    
    }
    
    .quick-links h6{
        font-weight: 700;
        font-size: 24px;
        padding-left: 0px;
    
    }
    
    .quick-links a{
        font-weight: 400;
        font-size: 16px;
        display: grid;
        text-decoration: none;
        color: black;
        width: 80px;
        padding: 10px;
        padding-left: 0px; 
    }

    .footer p{
        font-weight: 500;
        font-size: 13px;
        background-color: #77777766;
        margin-bottom: 1px;
        padding-left: 0px;;
    }

}