*{
    font-family: 'merriweather', serif;
}
.carousel-polygon{
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    background-image: linear-gradient(to bottom, #030303b4 0%, #0505059f 100%);


}
.second-part{
    margin-top: 30px;

}

.second-part img{
    margin-left: 190px;
}
.second-part-h2 h2{
    font-size: 32px;
    margin-top: 40px;
    color: #0070b8;
    font-weight: 700;
}
.second-part-p p{
    font-size: 16px;
    font-weight: 400;
}

hr{
    border: 2px solid rgb(0, 95, 154);
    opacity: 100;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.third-part-background{
    background-color: #77777766;
}
.third-part-second-h2 h2{
    font-size: 50px;
    font-weight: 700;
    color: #0070b8;

}
.second-carousel-background{
    background-color: #77777766;
}
#custom-h2{
    font-family: 'merriweather', serif;
    color: #0070b8;
}

#second-p p{
    font-size: 30px;
}

hr{
    border: 2px solid rgb(0, 95, 154);
    opacity: 100;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.third-part-services h3{
    color: #0070b8;
    font-weight: 700;
    text-align: center;
    margin-top: 25px;

}

/* .third-part-p p{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
} */
.service-background img{
    background-image: linear-gradient(to bottom, #0072b8 0%, #2e2f30 100%);
}

.card-text h5{
    color: #0070b8;
    font-weight: 700;
}

.third-part-first-h2 h2{
    font-size: 14px;

}

.third-part-second-h2 h2{
    font-size: 50px;
    font-weight: 700;

}
.third-part-p p{
    font-size: 16px;
    font-weight: 400;

}
.fourth-part-contact-us h2{
    margin: 30px;
    font-size: 32px;
    font-weight: 700;
    color: #0070b8;
}

.fourth-part-contact-us p{
    font-size: 20px;
    font-weight: 500;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.row-background{
    background-color: #0070b8;
    height: 100px;
    width: 100%;

}

.col-text{
    margin-left: 150px;
    font-size: 23px;
    color: white;
    margin-top: 30px;
    font-weight: 700;
}


.quick-links{
    margin-top: 0px;
    background-color: #77777766;
    padding: 20px

}

.quick-links h6{
    font-weight: 700;
    font-size: 24px;
    padding-left: 200px;

}

.quick-links a{
    font-weight: 400;
    font-size: 16px;
    display: grid;
    text-decoration: none;
    color: black;
    width: 300px;
    padding: 10px;
    padding-left: 200px; 
}

.quick-links iframe{
    margin-left: 500px;
}
.footer p{
    font-weight: 700;
    font-size: 24px;
    background-color: #77777766;
    margin-bottom: 1px;
    padding-left: 500px;
}

@media only screen and (max-width: 480px) {
    .img-class img{
        margin-top: 40px;
        height: 250px;
        width: 150px;
        margin-left: 20px;
    }
    .second-part-h2 h2{
        font-size: 16px;
        margin-top: 40px;
        color: #0070b8;
        font-weight: 700;
    }
    .second-part-p p{
        font-size: 13px;
        font-weight: 400;
    }

    hr{
        border: 2px solid rgb(0, 95, 154);
        opacity: 100;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    .third-part-first-h2 h2{
        font-size: 14px;

    }

    .third-part-second-h2 h2{
        font-size: 50px;
        font-weight: 700;
        color: #0070b8;

    }
    .third-part-p p{
        font-size: 16px;
        font-weight: 400;

    }
    
    .fourth-part-contact-us h2{
        margin: 30px;
        font-size: 32px;
        font-weight: 700;
        color: #0070b8;
    }

    .fourth-part-contact-us p{
        font-weight: 400;
        font-size: 13px;
    }


    .col-text{
        margin-left: 0px;
        font-size: 8px;
        font-weight: 500;
        color: white;
    }
    .third-part-services h3{
        color: #0070b8;
        font-weight: 700;
        text-align: center;
    
    }

    .project-img img{
        height: auto;
        width: auto;
    }
    .row-background{
        height: 80px;
        background-color: #0070b8;
        width: 100%;
    }

    .quick-links{
        margin-top: 0px;
        background-color: #77777766;
        padding: 20px
    
    }
    
    .quick-links h6{
        font-weight: 700;
        font-size: 16px;
    }
    
    .quick-links a{
        display: grid;
        text-decoration: none;
        color: black;
        
    }
    .quick-links iframe{
        margin-left: 0px;
        height: 150px;
        width: 150px;
    }
    .quick-links{
        margin-top: 0px;
        background-color: #77777766;
        padding: 20px
    
    }
    
    .quick-links h6{
        font-weight: 700;
        font-size: 24px;
        padding-left: 0px;
    
    }
    
    .quick-links a{
        font-weight: 400;
        font-size: 16px;
        display: grid;
        text-decoration: none;
        color: black;
        width: 80px;
        padding: 10px;
        padding-left: 0px; 
    }

    .footer p{
        font-weight: 500;
        font-size: 13px;
        background-color: #77777766;
        margin-bottom: 1px;
        padding-left: 0px;;
    }
    



  }